@media only screen and (max-width: 768px) {
    section {
        flex-direction: column;
    }

    #contentLeft {
        margin-right: 0px;
    }

    #logo {
        flex: 0 1 80px;
    }

    #socialLinks {
        flex: 0 1 80px;
        gap: 10px;
    }

    #titleSlide h1 {
        font-size: 25px;
    }

    .menuItem a {
        font-size: 13px;
    }

    .menuItem i {
        margin-right: 5px;
    }


}

@media only screen and (max-width: 480px) {
    :root {
        --gap: 20px;
        --padding: 15px;
    }

    section {
        gap: var(--gap);
    }

    .header {
        background-size: 100%;
        height: auto;
    }

    #navBar {
        flex-direction: column;
        gap: var(--gap);
    }

    #navBar>* {
        flex: 1 1 100%;
        margin: 0px !important;
    }

    #menu {
        padding: 0px 20px;
    }

    #slide {
        margin: 20px 20px 0px 20px;
        height: 70px;
    }

    #titleSlide h1 {
        font-size: 20px;
    }

    .menuItem {
        text-align: center;
    }

    .menuItem a {
        font-size: 12px;
        padding: 5px;
    }

    .menuItem i {
        margin-right: 5px;
    }

    .socialItem a {
        font-size: 20px;
    }

   

    #contentArticles>article {
        flex: 1 1 100%;

    }




}