@media only screen and (max-width: 768px) {
    section {
        grid-template-columns: auto;
    }

    #contentLeft {
        margin-right: 0px;
    }

    #navBar {
        grid-template-columns: 80px auto 80px;
        grid-gap: 10px;
    }

    #socialLinks {
        grid-gap: 10px;
    }

    #titleSlide h1 {
        font-size: 25px;
    }

    .menuItem a {
        font-size: 13px;
    }

    .menuItem i {
        margin-right: 5px;
    }

    header {
        grid-template-rows: 80px auto auto;
    }

    #slide {
        height: auto;
    }


}

@media only screen and (max-width: 480px) {
    :root {
        --gap: 20px;
        --padding: 15px;
    }

    body {
        grid-template-rows: auto auto auto;
    }



    .header {
        background-size: 100%;
        height: auto;
        grid-template-rows: 135px auto auto;
    }

    #slide {
        height: auto;
    }

    #navBar {
        grid-template-columns: auto;

    }

    #navBar>* {
        flex: 1 1 100%;
        margin: 0px !important;
    }

    #menu {
        padding: 0px 20px;
    }

    #slide {
        margin: 20px 20px 0px 20px;
        height: 70px;
    }

    #titleSlide h1 {
        font-size: 20px;
    }

    .menuItem {
        text-align: center;
    }

    .menuItem a {
        font-size: 12px;
        padding: 5px;
    }

    .menuItem i {
        margin-right: 5px;
    }

    .socialItem a {
        font-size: 20px;
    }

    #contentArticles {
        grid-template-columns: auto;
    }




}