:root {
    --gap: 20px;
    --padding: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #808080;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}


/* HEADER - fill de body*/
header {
    background: url("../images/header1.jpg") 50% 100% no-repeat;
    background-size: cover;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 400px;
}

#navBar {
    display: flex;
    gap: var(--gap);
    align-items: center;
}

#logo {
    flex: 0 1 160px;
    text-align: center;
}

#logo img {
    width: 70px;
}

#socialLinks {
    flex: 0 1 160px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.socialItem a {
    text-decoration: none;
    color: #808080;
    transition: all 0.5s;
}

.socialItem a:hover {
    color: #f08080;
    font-size: 20px;
}

#menu {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    width: 100%;
}


.menuItem i {
    margin-right: 10px;
}

.menuItem a {
    text-decoration: none;
    color: #808080;
    transition: all 0.5s;
    text-align: left;
    background-color: transparent;
    background-size: 0px;
    padding: 10px;
}

.menuItem a.active {
    color: #f08080;
}


.menuItem a:hover {
    color: #f08080;
    background-color: rgba(128, 128, 128, 0.1);
    background-size: 100%;

}


#slide {
    text-align: center;
    background-color: rgba(128, 128, 128, 0.1);
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 70px;
}

#titleSlide h1 {
    color: #f08080;
    opacity: 0.7;
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 35px;
}


/* SECTION - fill de body*/

section {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

/* SECTION - contentLeft*/
#contentLeft {
    background-color: #45455e;
    padding: var(--gap);
    flex: 2;


}

#contentArticles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    margin-bottom: var(--gap);
}

#contentArticles>article {
    flex: 1 1 calc(50% - var(--gap));
    padding: var(--padding);
    background-color: #2261a3;

}

#footerArticles {
    background-color: #6899ba;
    padding: var(--padding);

}

/* SECTION - contentRight*/
#contentRight {
    background-color: #f23c4d;
    padding: var(--gap);
    display: flex;
    flex-direction: column;
    flex: 1;
}

#contentRight>#titleContentRight {
    background-color: #fde682;
    padding: var(--padding);
    margin-bottom: var(--padding);
}

#contentRight>#textContentRight {
    background-color: #fde682;
    padding: var(--padding);
}

/* FOOTER - fill de body*/


#contentFooter {
    background-color: #e0a539;
    padding: var(--padding);
}