:root {
    --gap: 20px;
    --padding: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #808080;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}


/* HEADER - fill de body*/
header {
    background: url("../images/header1.jpg") 50% 100% no-repeat;
    background-size: cover;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 400px;
    animation: opacity 1s ease-in;

}

#navBar {
    display: flex;
    gap: var(--gap);
    align-items: center;
    animation: moureBaix 1s ease-in;
}

#logo {
    flex: 0 1 160px;
    text-align: center;
}

#logo img {
    width: 70px;
}

#socialLinks {
    flex: 0 1 160px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.socialItem a {
    text-decoration: none;
    color: #808080;
    transition: all 0.5s;
}

.socialItem a:hover {
    color: #f08080;
    font-size: 20px;
}

#menu {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    width: 100%;
}


.menuItem i {
    margin-right: 10px;
}

.menuItem a {
    text-decoration: none;
    color: #808080;
    transition: all 0.5s;
    text-align: left;
    background-color: transparent;
    background-size: 0px;
    padding: 10px;
}

.menuItem a.active {
    color: #f08080;
}


.menuItem a:hover {
    color: #f08080;
    background-color: rgba(128, 128, 128, 0.1);
    background-size: 100%;

}


#slide {
    text-align: center;
    background-color: rgba(128, 128, 128, 0.1);
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 70px;
    animation: moureDalt 1s ease-in;
}

#titleSlide h1 {
    color: #f08080;
    opacity: 0.7;
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 35px;
}


/* SECTION - fill de body*/

section {
    display: flex;
    flex-direction: row;
    gap: var(--padding);

}

/* SECTION - contentLeft*/
#contentLeft {
    background-color: #d8d7d7;
    padding: var(--padding);
    flex: 3;
    animation: moureDreta 1s ease-in;
}

#contentArticles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    margin-bottom: var(--gap);
}

article {
    flex: 1 1 calc(50% - var(--gap));
    padding: var(--padding);
    background-color: white;

}

article .imageContent {
    position: relative;
}

.imageContent img {
    width: 100%;
}

.imageContent h3 {
    position: absolute;
    bottom: 0px;
    color: #edde94;
    font-size: 12px;
    padding: 5px;
}

article .textContent h2 {
    background-color: #f08080;
    text-transform: uppercase;
    color: white;
    padding: 5px;
    padding-top: 10px;
    font-weight: 500;
}

article .textContent p {
    column-count: 2;
    column-gap: 20px;
    padding: 20px 0px;
}

article .textContent a {
    text-decoration: none;
    color: #808080;
}

#footerArticles {
    text-align: center;

}

/* SECTION - contentRight*/
#contentRight {
    background-color: #d8d7d7;
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    color: black;
    animation: moureEsquerra 1s ease-in;

}

#contentRight>#titleContentRight {
    margin-bottom: 25px;

}



/* FOOTER - fill de body*/


#contentFooter {
    background-color: #f5f1f1;
    text-align: center;
    padding: 15px;
}

/* KEYFRAMES */

@keyframes moureBaix {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes moureDalt {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes moureEsquerra {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes moureDreta {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}